*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header{
    min-height: 600px;
    width: auto;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}

.container{
    width: 90%;
    margin: 0px auto;
    padding: 0px;
    overflow: auto;
}

/*navbar*/
.navbar .navbar-logo{
    float: left;
    padding-right: 2em;
}


.navbar .top-nav{
    float: right;
}

.navbar .top-nav ul{
    list-style-type: none;
    padding: 0px;
    overflow: hidden;
}

.navbar .top-nav ul li{
    float: left;
    overflow: hidden;
}

.navbar .top-nav ul li a{
    display: block;
    padding: 8px 18px;
    text-decoration: none;
    color: white
}

.top-nav li a.active{
    font-weight: bold;
    border-bottom: 2px solid white;
}

.navbar .top-nav ul li a:hover:not(.active){
    color: #a7a7a7;
}

.navbar::after{
    content: "";
    display: table;
    clear: both;
}

/*navbar end*/


/*Profile*/

.profile{
    margin-top: 40px;
    padding: 50px;
}

.profile .img-profile img{ 
    object-fit: cover;
    border: none;
    border-radius: 50%;
    opacity: 0.8;
}

.profile .img-profile{
    text-align: center;
}

.content-profile p.helo{
    font-size: 1.4em;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    padding: 5px;
    border-radius: 8px;
    color: #424242;
}

.content-profile h3{
    margin-top: -8px;
    font-size: 1.8em;
    letter-spacing: 1px;
    line-height: 1.2em;
    font-weight: lighter;
}

.content-profile p.desc{
    margin-top: -20px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300 !important;
    color: #cacaca;
}

/*profile end*/

/*Biodata*/

.kiri{
    width: 35%;
    float: left;
    overflow: hidden;
    
}
.kiri .pict img{
    width: auto;
    max-height: 600px;
}

.kanan{
    width: 60%;
    margin-left: 10px;
    float: right;
    overflow: auto;
}

.kanan .bio h4{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 52px;
    text-align: center;
    color: #7C7C7C;
    font-size: 25px;
}

.kanan .bio h2{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 73px;
    color: #1F4388;
    font-size: 36px;
}
.kanan .bio .bio-isi p, img{
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-top: 40px;
}
.bio-isi .diblock{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bio-isi .diblock img{
    margin-right: 20px;
}

.bio-isi .diblock p{
    color: #757575;
    font-size: 28px;
    font-weight: 600;
}
/*biodata end*/

main::after{
    
    content: "";
    display: table;
    clear: both;
}


footer{
    margin-top: 50px;
    background-color: #2b58aa;
    padding: 22px;
    text-align: center;
}

